/**
 * @name t
 * @author FeoreV
 * @version 2.0.0
 * @description Blur is the new black
 * @source mama
 * @invite baEMQg
 * @website hgggg
 * @authorId 489785940546551831
 * @BDEditor FVUI
*/

@import url('https://feorev.github.io/Themes/Discord/FVUI/assets/SubThemes/CustomBackground.css');

:root {
  --image: url('https://i.imgur.com/bgmVeyt.jpg');
  --OpacityBG: 50%;
  --BlurBG: 5px;
}

/* Any custom CSS below here */


