/**
 * @name t
 * @author FeoreV
 * @version 2.0.0
 * @description Blur is the new black
 * @source mama
 * @invite baEMQg
 * @website hgggg
 * @authorId 489785940546551831
 * @BDEditor FVUI
*/

@import url('https://raw.githubusercontent.com/leolegPremiumPlus/My-theme/main/test.css');

:root {
  --image: url('https://i.imgur.com/bgmVeyt.jpg');
  --OpacityBG: 50%;
  --BlurBG: 5px;
}

/* Any custom CSS below here */


